<div class="bg-grey px-72 md:px-10 lg:px-20 xl:px-20">
  <div>
    <div class="flex flex-row justify-around">
      <div class="flex-none m-4">
        <div class="m-4 flex flex-col justify-between">
          <p class="text-4xl font-semibold m-1">FRESH HOUSE</p>
          <p class="m-1">МеталлМаркет в Самаре</p>
        </div>
        <div class="mb-4 mx-4 flex flex-col justify-between">
          <p class="text-superGrey m-1">Телефон для контакта</p>
          <p class="mb-1 ml-1">8-800-555-35-35</p>
          <p class="mb-1 ml-1">8-800-555-35-35</p>
        </div>
        <div class="mb-4 mx-4 flex flex-col justify-between">
          <p class="text-superGrey m-1">Почта для контактов</p>
          <p class="mb-1 ml-1"></p>
          <p class="mb-1 ml-1">Pochta1000-7&#64;mail.com</p>
        </div>
      </div>
      <div class="flex-auto m-4">
        <ul>
          <li class="mx-3 mb-3 mt-5"><a class="hover:text-orangHover">Доставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Ставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Доска</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Шавка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Отставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Приставка</a></li>
        </ul>
      </div>
      <div class="flex-auto m-4">
        <ul>
          <li class="mx-3 mb-3 mt-5"><a class="hover:text-orangHover">Доставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Ставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Доска</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Шавка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Отставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Приставка</a></li>
        </ul>
      </div>
      <div class="flex-auto m-4">
        <ul>
          <li class="mx-3 mb-3 mt-5"><a class="hover:text-orangHover">Доставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Ставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Доска</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Шавка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Отставка</a></li>
          <li class="m-3"><a class="hover:text-orangHover">Приставка</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
