<div *ngFor="let category of categories" class="pb-6">
    <div (click)="toggleCategory(category.id)" [class.text-orange]="expandedCategories.has(category.id)"
        class="text-xl font-semibold hover:text-orangHover">

        {{category.title}}

    </div>

    <div *ngIf="expandedCategories.has(category.id)  " class="text-sl p-2">
        <div class="mx-2  hover:text-orange " *ngFor="let subCategory of category.subCategories"
            (click)="navigateToSubCategory(category.category, subCategory.subCategory)">{{subCategory.title}}</div>
    </div>
</div>
